<div class="container is-fullhd">
  <form (submit)="onSubmit()">
    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input class="input" type="text" name="user.handle" placeholder="e.g Alex Smith">
      </div>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" name="user.password" placeholder="-----">
      </div>
    </div>
    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
  </form>
  <a [routerLink]="['/home']">
    <p>Don't have a log in Click here</p>
  </a>
</div>