<button class="is-primary" (click)="findMe()">Find venues near me</button>
<div #gmap style="width:100%;height:600px"></div>
<img src="../../assets/powered-by-sk/powered-by-songkick-black.png">
<nav class="navbar is-fixed-bottom is-dark is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="/home">
        <img src="../../assets//powered-by-sk/Screen Shot 2018-10-02 at 6.28.18 PM.png" alt="VenuLogo" width="60" height="28">
      </a>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="bd-tw-button button is-dark" href="/home">
                <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span>
                <span>
                  Home
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-dark" href="/map">
                <span class="icon">
                  <i class="fas fa-download"></i>
                </span>
                <span>Search</span>
              </a>
            </p>
            <p class="control">
                <a class="button is-dark" href="/profile">
                  <span class="icon">
                    <i class="fas fa-download"></i>
                  </span>
                  <span>Profile</span>
                </a>
              </p>
          </div>
        </div>
      </div>
    </div>
  </nav>